<div class="swiper-slide sliderbg_menu">
    <div class="swiper-container swiper-nested">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner">
                    <div class="logo"><a href="#"><h1><b>Go</b> Mobile</h1></a></div>
                    <div class="menu">
                        <ul>
                            <li><a href="/"><img src="images/icons/about.png" alt="" title="" /><span>Login</span></a></li>
                            <li><a href="/busroutelist"><img src="images/icons/tools.png" alt="" title="" /><span>Routes</span></a></li>
                            <li><a href="/bussearch"><img src="images/icons/blog.png" alt="" title="" /><span>Search</span></a></li>
                            <li><a href="/transitmaps"><img src="images/icons/docs.png" alt="" title="" /><span>Map</span></a></li>
                            <li><a href="/busfavorites"><img src="images/icons/photos.png" alt="" title="" /><span>Favorites</span></a></li>
                            <li><a href="#"><img src="images/icons/twitter.png" alt="" title="" /><span>Twitter</span></a></li>
                            <li><a href="#"><img src="images/icons/contact.png" alt="" title="" /><span>Contact</span></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>
