<div class="swiper-slide sliderbg">
    <div class="swiper-container swiper-nested">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner">
                    <div class="pages_container">
                        <h2 class="page_title">{{ tagline }}</h2>
                        <h2 id="Note"></h2>
                        <div class="form">
                            <form class="cmxform" id="CommentForm" method="post" action="#">
                                <label>Name</label>
                                <input type="text" name="ContactName" id="ContactName" ng-model="name" value="" class="form_input radius4 required" placeholder="Your Name"/>
                                <label>Email:</label>
                                <input type="text" name="ContactEmail" placeholder="Email address" ng-model="email" id="ContactEmail" value="" class="form_input radius4 required email" />
                                <input type="submit" name="submit" class="form_submit radius4 green green_borderbottom" id="submit" value="Send" ng-click="submit(form)">
                             </form>
                        </div>

                        <h2>Let's socialize</h2>
                        <ul class="social">
                            <li class="social_facebook"><a href="#"><img src="images/icons/social/facebook.png" alt="" title="" border="0" /></a></li>
                            <li class="social_twitter"><a href="#"><img src="images/icons/social/twitter.png" alt="" title="" border="0" /></a></li>
                            <li class="social_google"><a href="#"><img src="images/icons/social/google.png" alt="" title="" border="0" /></a></li>
                            <li class="social_pinterest"><a href="#"><img src="images/icons/social/pinterest.png" alt="" title="" border="0" /></a></li>
                            <li class="social_flickr"><a href="#"><img src="images/icons/social/flickr.png" alt="" title="" border="0" /></a></li>
                            <li class="social_digg"><a href="#"><img src="images/icons/social/digg.png" alt="" title="" border="0" /></a></li>
                        </ul>
                        <h2>Give Us a call</h2>
                        <a href="tel:123 456 789" class="call_button radius8">Click To Call Now!</a>
                        <a href="http://maps.google.com/maps?q=houston+usa&amp;hl=ro&amp;sll=37.0625,-95.677068&amp;sspn=53.961216,114.169922&amp;hnear=Houston,+Harris,+Texas&amp;t=m&amp;z=5" class="map_button radius8">View our location</a>
                        <div class="clearfix"></div>
                        <div class="scrolltop radius20"><a href="#"><img src="images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                    </div>
                    <!--End of page container-->
                </div>
            </div>
        </div>
    </div>
</div>
